!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title KaaZaP
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %main
      %header.title
        %h1 KaaZaP

      .played
        .card{ data: { value: 10 } }
          .material-icons settings
        .card.negative{ data: { value: 6 } }
          .material-icons games
        .card.positive{ data: { value: 3 } }
          .material-icons donut_large
        .card.special{ data: { value: 'D' } }
          .material-icons bubble_chart
        .card.either.positive{ data: { value: 5 } }
          .material-icons device_hub
        .card.either.negative{ data: { value: 2 } }
          .material-icons toys

      = yield
